#blue {color: cornflowerblue;}
#yellow {color: #fa0;}
#green
{
  color: seagreen;
  display:flex;
  font-family: "Google Sans";
}

h1
{
  display:flex;
  font-size: 45px;
  font-family: "Google Sans";
}

h2
{
  display:flex;
  font-family: "Google Sans";
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: lightblue;
  color: white;
  text-align: right;
  height: 46px;
}

.logo {
  width: 10%;
  bottom: 0;
}
