h1 a
{
  display:flex;
  font-size: 45px;
  font-family: "Google Sans";
  text-decoration: none;
}

#s, #p {color: cornflowerblue;}
#t, #second-o {color:red;}
#first-o {color: #fa0;}
#g {color:#3a3; -webkit-transform: rotate(-20deg);}

.overview {
  font-size: 35px;
  padding: 50px;
  text-align: center;
  line-height: 200%;
  border-radius: 25px;
  border-style: solid;
  border-width: thick;
  border-color: red;
  font-family: Arial;
}

.navbar {
    overflow: hidden;
    background-color: lightblue;
    font-family: Arial;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    cursor: pointer;
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
    background-color: cornflowerblue;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: blue;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: darkblue;
}

.show {
    display: block;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: lightblue;
  color: white;
  text-align: right;
}
.logo {
  width: 10%;
  bottom: 0;
}
