#blue {color: cornflowerblue;}
#red{color:crimson;}

h1
{
  display: flex;
  font-size: 45px;
  font-family: "Google Sans";
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: lightblue;
  color: white;
  text-align: right;
  height: 46px;
}

.logo {
  width: 10%;
  bottom: 0;
}

* {
  box-sizing: border-box;
}

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
}
