<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Google+Sans"/>
<link rel="stylesheet" href="css/homepage.css"/>

  <h1>
    <b id="s">S</b>
    <b id="t">t</b>
    <b id="first-o">o</b>
    <b id="p">p</b>
    <b id="g">G</b>
    <b id="second-o">o</b>
  </h1>

  <form action="file:///Users/demouser/StopGo/templates/homepage.html">
    <button type="submit">Home</button></form>
  <form action="file:///Users/demouser/StopGo/templates/create_route.html">
    <button type="submit">Create Route</button></form>
  <form action="file:///Users/demouser/StopGo/templates/information.html">
    <button type="submit">Information</button></form>

  <p>
    Making public transportation more efficient and convenient through notifying
    the user of upcoming bus stops. This web application will prevent users from
    accidentally missing their stop due to sleep or other preoccupations.
  </p>

</head>

<body>
  <img src="images/logo.png" alt="Quack Logo">
</body>

<style>
  form {
  display: inline;
  }
  img {
    width: 15%;
    position: absolute;
    bottom: 0px;
    right: 0px;
  }
</style>

</html>
