h1 {display:flex;
  font-size: 45px;
  font-family: "Google Sans";
}

#s, #p {color: cornflowerblue;}
#t, #second-o {color:red;}
#first-o {color: #fa0;}
#g {color:#3a3; -webkit-transform: rotate(-20deg);}

p {
  background-color: tomato;
  font-size: 24px;
  font-family: serif;
}
