<!DOCTYPE html>
<html>
<head>
<title>Welcome to StopGo!</title>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Google+Sans"/>
<link rel="stylesheet" href="homepage.css" />
</head>

<body>
  <img src="file:///Users/demouser/StopGo/logo.png" alt="Quack Logo">
  <h1>
    <b id="s">S</b>
    <b id="t">t</b>
    <b id="first-o">o</b>
    <b id="p">p</b>
    <b id="g">G</b>
    <b id="second-o">o</b>
  </h1>

  <form method='post' action="/">
    <button type="submit">Home</button></form>
  <form method='post' action="/create-route">
    <button type="submit">Create Route</button></form>
  <form method='post' action="/info">
    <button type="submit">Information</button></form>

  <p>
    Making public transportation more efficient and convenient through notifying
    the user of upcoming bus stops. This web application will prevent users from
    accidentally missing their stop due to sleep or other preoccupations.
  </p>
</body>

<style>
  form {
  display: inline;
  }
  img {
    width: 15%;
    position: absolute;
    bottom: 0px;
    right: 0px;
  }
  h1 {display:flex;
    font-size: 45px;
    font-family: "Google Sans";
  }

  #s, #p {color: cornflowerblue;}
  #t, #second-o {color:red;}
  #first-o {color: #fa0;}
  #g {color:#3a3; -webkit-transform: rotate(-20deg);}

  p {
    background-color: tomato;
    font-size: 24px;
    font-family: serif;
  }

</style>

</html>
