<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Google+Sans"/>
<link rel="stylesheet" href="homepage.css" />

  <h1>
    <b id="s">S</b>
    <b id="t">t</b>
    <b id="first-o">o</b>
    <b id="p">p</b>
    <b id="g">G</b>
    <b id="second-o">o</b>
  </h1>

  <form action="file:///Users/demouser/StopGo/templates/homepage.html">
    <button type="submit">Home</button></form>
  <form action="file:///Users/demouser/StopGo/templates/create_route.html">
    <button type="submit">Create Route</button></form>
  <form action="file:///Users/demouser/StopGo/templates/information.html">
    <button type="submit">Information</button></form>

</head>

<body>
  <img src="file:///Users/demouser/StopGo/logo.jpg" alt="Quack Logo">
</body>

<style>

  form {
  display: inline;
  }

  div.img {
    float: right;
    width: 15%;
    bottom: 0;
    position: absolute;
  }

</style>

</html>
