<!DOCTYPE html>
<html>
<head>
<title>About Us</title>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Google+Sans"/>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="css/homepage.css"/>
<link rel="stylesheet" href="css/information.css"/>

<style>

  form {
  display: inline;
  }

  #logo {
    position: absolute;
    bottom: 0px;
    right: 0px;
  }

  #column {
    width: 100px;
  }

  h2, p {
    text-align: center;
  }
  .tilted {
  -webkit-transform: rotate(-30deg)
  }

</style>
</head>

<body>

  <div class="footer">
      <img class="logo" src="images/logo.png" alt="Quack Logo" id="logo">
  </div>

  <h1>
    <a href='/'>
      <b id="s">S</b>
      <b id="t">t</b>
      <b id="first-o">o</b>
      <b id="p">p</b>
      <b id="g">G</b>
      <b id="second-o">o</b>
    </a>
  </h1>

  <div class="navbar">
    <a href="/">Home</a>
    <a href="/create-route">Create A Route</a>
      <div class="dropdown">
        <button class="dropbtn" onclick="myFunction()">About Us
          <i class="fa fa-caret-down"></i>
        </button>
          <div class="dropdown-content" id="myDropdown">
            <a href="/info">What is Quack?</a>
            </div>
      </div>
    <img src="images/icons.png" id="header_image"/>
  </div>

  <h1>
    <b id='red'>What is Quack?</b>
  </h1>

  <div class="row">
  <div class="column">
    <img src="images/Victor.png" alt="Victor" style="width:200px;float:left">
    <h2>Meet Victor</h2>
    <p>
      I was adopted by Hayk Khulyan. He will be attending the University of California,
      Riverside. Hayk loves to program, code, and hike.
    </p>
  </div>
  <div class="column">
    <img src="images/RD.png" alt="RD" style="width:230px;float:left">
    <h2>Meet R.D.</h2>
    <p>
      I was adopted by Ellen Kim. She will be attending the University of
      California, Irvine. Zot Zot! Ellen loves to swim and watch Korean variety shows.
    </p>
  </div>
  <div class="column">
    <img src="images/Carl.png" alt="Carl" style="width:210px;float:left">
    <h2>Meet Carl</h2>
    <p>
      I was adopted by Kendall Lane. She will be attending Cornell University.
      Go Big Red! Kendall loves to watch TV and play lacrosse.
    </p>
  </div>
  </div>

<script>
/* When the user clicks on the button,
toggle between hiding and showing the dropdown content */
function myFunction() {
    document.querySelector("#myDropdown").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(e) {
  if (!e.target.matches('.dropbtn')) {
    var myDropdown = document.querySelector("#myDropdown");
      if (myDropdown.classList.contains('show')) {
        myDropdown.classList.remove('show');
      }
  }
}
setInterval(() => { document.getElementById('g').classList.toggle('tilted'); }, 500)
</script>
</html>
