<!DOCTYPE html>
<html>
<head>
<title>Create A Route</title>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Google+Sans"/>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="css/homepage.css"/>
<link rel="stylesheet" href="css/view_route.css"/>
<style>
  form {
  display: inline;
  }
  img {
    width: 15%;
    position: absolute;
    bottom: 0px;
    right: 0px;
  }
</style>
</head>

<body>
  <div class="footer">
      <img class="logo" src="images/logo.png" alt="Quack Logo">
  </div>
  <h1>
    <a href='/'>
      <b id="s">S</b>
      <b id="t">t</b>
      <b id="first-o">o</b>
      <b id="p">p</b>
      <b id="g">G</b>
      <b id="second-o">o</b>
    </a>
  </h1>

  <div class="navbar">
    <a href="/">Home</a>
    <a href="/create-route">Create A Route</a>
      <div class="dropdown">
        <button class="dropbtn" onclick="myFunction()">About Us
          <i class="fa fa-caret-down"></i>
        </button>
          <div class="dropdown-content" id="myDropdown">
            <a href="/info">What is Quack?</a>
            </div>
      </div>
    <img src="images/icons.png" id="header_image"/>
  </div>

  <h1>
    <b id='green'>View Route</b>
  </h1>

  <h2>
    <b id='yellow'>Time to next stop: {{time_to_next_stop}} minutes</b>
  </h2>

<script>
/* When the user clicks on the button,
toggle between hiding and showing the dropdown content */
function myFunction() {
    document.querySelector("#myDropdown").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(e) {
  if (!e.target.matches('.dropbtn')) {
    var myDropdown = document.querySelector("#myDropdown");
      if (myDropdown.classList.contains('show')) {
        myDropdown.classList.remove('show');
      }
  }
}
</script>
</html>
